/******* INTERFACE STYLES *******/
/* These styles should be toggled on by the interface:
  TODO
 */



/******* MAIN *******/
.content {
  background-image: url("../images/parchment-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.folio {
  font-family: "Merriweather", "Palatino Linotype", Palatino, serif;
  font-size: 18px;
  background: rgba(256, 256, 256, 0.9);
}

.dynamic {
  font-size: 3vw;
}
