<form action="https://docs.google.com/a/hackreactor.com/forms/d/1Gfo8GoYPaWUovn_rmnww3ryeyuD2q2f_ulJoRMcNhJM/formResponse?embedded=true" target="_self" method="POST" id="mG61Hd">
  <div class="freebirdFormviewerViewFormCard">
    <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
    <div class="freebirdFormviewerViewFormContent">
      <div class="freebirdFormviewerViewHeaderHeader">
        <div class="freebirdFormviewerViewHeaderTitleRow">
          <div class="freebirdFormviewerViewHeaderTitle" dir="auto" role="heading">
            CSS Shakespeare Report
          </div>
        </div>
        <div class="freebirdFormviewerViewHeaderRequiredLegend" aria-hidden="true" dir="auto">
          * Required
        </div>
      </div>
      <div class="freebirdFormviewerViewItemList" role="list">
        <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="jmDACb" jsaction="JIbuQc:aj0Jcf,vwKRrd;" data-required="true" data-input="L9xHkb" data-item-id="1481337499">
          <div class="freebirdFormviewerViewItemsItemItemheader">
            <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
              <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" aria-describedby="i.desc.1481337499">
                I am submitting a... 
                <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">
                  *
                </span>
              </div>
              <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1481337499" dir="auto"></div>
            </div>
          </div>
          <div role="listbox" class="docssharedWizSelectPaperselectEl" jscontroller="EbrJ1c" jsaction="click:cOuCgd; keydown:I481le; keypress:Kr2w4b; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e" jsshadow="" jsname="W85ice" aria-label="I am submitting a..." aria-describedby="i.desc.1481337499 i.err.1481337499" aria-required="true">
            <div class="docssharedWizSelectPaperselectOptionList" jsname="d9BH4c" role="presentation">
              <div class="docssharedWizSelectPaperselectOption isSelected isPlaceholder" jsname="wQNmvb" data-value="" aria-selected="true" aria-label="Choose" role="option" tabindex="0">
                <div class="docssharedWizSelectPaperselectRipple" jsname="ksKsZd"></div>
                <content class="docssharedWizSelectPaperselectContent">
                  Choose
                </content>
              </div>
              <div class="docssharedWizSelectPaperselectOptionSeparator" role="separator"></div>
              <div class="docssharedWizSelectPaperselectOption" jsname="wQNmvb" data-value="Bug or Unexpected Behavior" aria-hidden="true" aria-label="Bug or Unexpected Behavior" role="option" tabindex="-1">
                <div class="docssharedWizSelectPaperselectRipple" jsname="ksKsZd"></div>
                <content class="docssharedWizSelectPaperselectContent">
                  Bug or Unexpected Behavior
                </content>
              </div>
              <div class="docssharedWizSelectPaperselectOption" jsname="wQNmvb" data-value="Typo" aria-hidden="true" aria-label="Typo" role="option" tabindex="-1">
                <div class="docssharedWizSelectPaperselectRipple" jsname="ksKsZd"></div>
                <content class="docssharedWizSelectPaperselectContent">
                  Typo
                </content>
              </div>
              <div class="docssharedWizSelectPaperselectOption" jsname="wQNmvb" data-value="Usability Issue" aria-hidden="true" aria-label="Usability Issue" role="option" tabindex="-1">
                <div class="docssharedWizSelectPaperselectRipple" jsname="ksKsZd"></div>
                <content class="docssharedWizSelectPaperselectContent">
                  Usability Issue
                </content>
              </div>
              <div class="docssharedWizSelectPaperselectOption" jsname="wQNmvb" data-value="Feature Suggestion" aria-hidden="true" aria-label="Feature Suggestion" role="option" tabindex="-1">
                <div class="docssharedWizSelectPaperselectRipple" jsname="ksKsZd"></div>
                <content class="docssharedWizSelectPaperselectContent">
                  Feature Suggestion
                </content>
              </div>
              <div class="docssharedWizSelectPaperselectOption" jsname="wQNmvb" data-value="Other Feedback" aria-hidden="true" aria-label="Other Feedback" role="option" tabindex="-1">
                <div class="docssharedWizSelectPaperselectRipple" jsname="ksKsZd"></div>
                <content class="docssharedWizSelectPaperselectContent">
                  Other Feedback
                </content>
              </div>
            </div>
            <div class="docssharedWizSelectPaperselectDropDown"></div>
            <div class="docssharedWizSelectPaperselectPopup" jsaction="click:dPTK6c(wQNmvb); mousedown:uYU8jb(wQNmvb); mouseup:LVEdXd(wQNmvb); mouseover:nfXz1e(wQNmvb); touchstart:Rh2fre(wQNmvb); touchend:MkF9r(wQNmvb|preventMouseEvents=true)" role="presentation" jsname="V68bde" style="display:none"></div>
          </div>
          <input type="hidden" name="entry.1767095554" jsname="L9xHkb">
          <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1481337499" role="alert"></div>
        </div>
        <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-input="L9xHkb" data-item-id="1934789056">
          <div class="freebirdFormviewerViewItemsItemItemheader">
            <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
              <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" aria-describedby="i.desc.1934789056">
                What page does the issue relate to?
              </div>
              <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1934789056" dir="auto"></div>
            </div>
          </div>
          <div class="freebirdFormviewerViewItemsTextItemWrapper">
            <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
              <div class="quantumWizTextinputPaperinputMainContent exportContent">
                <div class="quantumWizTextinputPaperinputContentArea">
                  <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="What page does the issue relate to?" aria-describedby="i.desc.1934789056 i.err.1934789056" name="CSS Shakespeare Report" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
                  <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">
                    Your answer
                  </div>
                  <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                  <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                </div>
              </div>
              <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
            </div>
          </div>
          <input type="hidden" name="entry.1836481524" jsname="L9xHkb">
          <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1934789056" role="alert"></div>
        </div>
        <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-required="true" data-input="L9xHkb" data-item-id="1919994569">
          <div class="freebirdFormviewerViewItemsItemItemheader">
            <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
              <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" aria-describedby="i.desc.1919994569">
                Please describe the issue/suggestion in detail: 
                <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">
                  *
                </span>
              </div>
              <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1919994569" dir="auto"></div>
            </div>
          </div>
          <div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
            <div class="quantumWizTextinputPapertextareaMainContent exportContent">
              <div class="quantumWizTextinputPapertextareaPlaceholder exportLabel" jsname="LwH6nd">
                Your answer
              </div>
              <div class="quantumWizTextinputPapertextareaContentArea exportContentArea">
                <textarea class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" rows="1" tabindex="0" aria-label="Please describe the issue/suggestion in detail:" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required="" name="CSS Shakespeare Report" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
              </div>
              <div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div>
            </div>
            <div jsname="ty6ygf" class="quantumWizTextinputPapertextareaHint exportHint"></div>
          </div>
          <input type="hidden" name="entry.1810134953" jsname="L9xHkb">
          <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1919994569" role="alert"></div>
        </div>
      </div>
      <div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH" jsaction="rcuQ6b:npT2md;JIbuQc:V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe)" data-shuffle-seed="-2624129443555811904">
        <div class="freebirdFormviewerViewNavigationButtonsAndProgress">
          <div class="freebirdFormviewerViewNavigationButtons">
            <div role="button" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton isUndragged" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;" jsshadow="" jsname="M2UYVd" tabindex="0">
              <div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd"></div>
              <div class="quantumWizButtonPaperbuttonFocusOverlay"></div>
              <content class="quantumWizButtonPaperbuttonContent">
                <span class="quantumWizButtonPaperbuttonLabel">
                  Submit
                </span>
              </content>
            </div>
          </div>
        </div>
        <div class="freebirdFormviewerViewNavigationPasswordWarning">
          Never submit passwords through Google Forms.
        </div>
      </div>
      <input type="hidden" name="fvv" value="1">
      <input type="hidden" name="draftResponse" value="[,,&quot;-2624129443555811904&quot;]">
      <input type="hidden" name="pageHistory" value="0">
      <input type="hidden" name="fbzx" value="-2624129443555811904">
    </div>
  </div>
</form>