<div class="jumbotron text">
  <div class="container">
    <p>Welcome to the live alpha of The Open Folio: the first and only edition of Shakespeare's plays you can reformat with the press of a button. Select a play from the list below, or search for one in the toolbar above. Once loaded, customize font, punctuation, line numbers, margins, and then print. Or don't. Each play is designed to be be equally well styled on whatever digital device you happen to be using.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div id="play-list" class="list-group"></div>
    </div>

    <div clas="col-sm-8">
      <h2>Why the First Folio?</h2>
      <p>In 1623, seven years after his death, the first comprehensive publication of Shakespeare's plays was released. In a time when the written word was expensive, and scripts were often performed then forgotten, this was the earliest public record of many of his works. Generally the closest thing to Shakespeare's own notes, it has provided powerful insights to actors, directors, and scholars. Those spelling and punctuation "errors" corrected by later editors often reveal a wealth of information to those who care to look into the writing conventions of his time.</p>

      <h2>Why this site?</h2>
      <p>Years ago, as an actor passionate about Shakespeare and in love with his original texts, I grew frustrated with the resources available. The First Folio is in the public domain, but existed mostly on academic sites with styling frozen in time somewhere in the late 1990's. Preparing a scene or play for performance meant copying and pasting into a word processor and spending hours just on formatting. Then, as an engineer, I realized modern web development tools like HTML, CSS, and JavaScript offered a better way. Smartly styled and highly customizable, the Open Folio is the only edition of Shakespeare's work that is ready for the digital world.</p>

      <h2>Help! I'm in Alpha!</h2>
      <p>Although publicly available, this site is in alpha, and not yet ready to be widely distributed. I've implemented my formatting wishlist, but no doubt missed features you need. In addition, automatic tools can can convert text quickly, but will certainly leave typos. I need your help to get the Open Folio ready for the wide world. Please, if you encounter a typo or bug, immediately report it using the <span class="glyphicon glyphicon-alert"></span> button above. If you would like to request a feature or leave other feedback, you can do so through the same form. I would love to build an amazing resource for everyone looking to perform or study Shakespeare, but I can't do it without you!</p>
    </div> <!-- /col-sm-8 -->
  </div> <!-- /row -->
</div> <!-- /container -->

<footer>
  <p>The Open Folio was developed and formatted by <a href="https://github.com/delventhalz" target="_blank">Zac Delventhal</a>, based on <a href="http://ota.ox.ac.uk" target="_blank">The Oxford Text Archive's</a> machine readable files. It is distributed under the <a href="https://github.com/delventhalz/open-folio/blob/master/LICENSE" target="_blank">MIT License</a>, and is free to use with attribution.</p>
</footer>