/******* MAIN *******/
.folio {
  font: 400 19px Lato, "Trebuchet MS", Helvetica, sans-serif;
  width: 100%;
  max-width: 38em;
  margin: 0 auto;
  padding: 4em 2em;
  background: #fff;
}

.addendum {

}

.dynamic {
  font-size: 3vw;
  padding: 4em 0.5em;
}

.dynamic .numbering {
  width: 3em;
}


/******* HEADINGS *******/
.folio h1 {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.folio h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin: 1em 0;
}

.folio h3 {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

.title {

}

.act {

}

.scene {

}

.finis {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

.direction {
  
}

.character {
  margin-top: 0.6em;
}

.sub-honofific {

}

.sub-name {

}

.unknown-header {
  font-size: 1.2em;
  font-weight: 400;
}



/******* DIALOGUE *******/
.folio em {
  font-style: italic;
}

.folio p {
  
}

.folio br {

}



/******* PUNCTUATION *******/
.punc {
  
}

.major {

}

.minor {

}

.end-stop {

}

.mid-stop {

}

.colon {

}

.paren {

}

.comma {

}

.char-stop {

}



/******* BONUSES *******/
.numbering {
  float: right;
  width: 6em;
}

.syllable-count {
  font-size: 0.7em;
  color: #bbb;
  display: none;
}

.line-count {
  font-size: 0.9em;
  color: #777;
  float: right;
  display: none;
}
