@media print {
  @page {
    margin-top: 0.75in;
    margin-bottom: 0.75in;
    margin-left: 1.25in;
    margin-right: 2.25in;
  }

  .content {
    color: #fff;
    background-color: #000;
    margin-top: 0;
  }

  .folio {
    color: #fff;
    background-color: #000;
    font-size: 9pt;
    line-height: 1.5;
    max-width: 100%;
    padding: 0;
    -webkit-column-gap: 0.25in;
    -moz-column-gap: 0.25in;
    column-gap: 0.25in;
  }

  .title {
    margin:auto;
    page-break-after: always;
  }

  .act {
    margin-bottom: 4em;
    page-break-before: always;
    page-break-after: avoid;
  }

  .scene {
    page-break-before: always;
    page-break-after: avoid;
  }

  .character {
    page-break-after: avoid;
  }

  p {
    page-break-inside: avoid;
  }
}
